@charset "utf-8";

#unicode-references-unit details
{
    margin: 1.2em 0;
}

#unicode-references-unit details[open] summary
{
    margin: 1.2em 0;
}

#unicode-references-unit summary
{
    font-weight: bold;
}

